.footer-items__end {
  flex-direction: row !important;
  justify-content: right !important;
}

div:has(.switcher-label) {
  display: flex;
  align-items: stretch;
}

.switcher-label {
  display: flex;
  align-items: center;
}
