.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 960px) {
  footer > div {
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-item {
    justify-items: center;
    text-align: center;
  }
}

@media (min-width: 540px) {
  .footer-links ul {
    flex-direction: row !important;
  }
  .footer-links ul li {
    display: inline;
  }

  .footer-links ul li:not(:last-child)::after {
    content: "|";
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}
