{%- block breadcrumbs %} {% if parents|length>3 %} {% set parents=[parents[0],
{"title": '<i class="fa-solid fa-ellipsis"></i>'}, parents[-1]] %} {% endif %}
{% if title and pagename != root_doc %}
<nav aria-label="{{ _('Breadcrumb') }}">
  <ul class="bd-breadcrumbs">
    {# Home icon #}
    <li class="breadcrumb-item breadcrumb-home">
      <a
        href="{{ pathto(root_doc) }}"
        class="nav-link"
        aria-label="{{ _('Home') }}"
      >
        <i class="fa-solid fa-home"></i>
      </a>
    </li>
    {% if "tags/" in pagename %} {% if pagename != "tags/index" %}
    <li class="breadcrumb-item">
      <a href="{{ pathto('tags/index') }}" class="nav-link">{{ _("Tags") }}</a>
    </li>
    {% endif %} {% else %} {%- for doc in parents %} {% if doc.link %}
    <li class="breadcrumb-item">
      <a href="{{ doc.link|e }}" class="nav-link"
        >{{ doc.title|truncate(25, False) }}</a
      >
    </li>
    {% else %}
    <li class="breadcrumb-item">{{ doc.title }}</li>
    {% endif %} {%- endfor %} {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
      {{ title|truncate(25, False) }}
    </li>
  </ul>
</nav>
{% endif %} {%- endblock %}
