.switcher-with-label {
  flex-direction: row;
  justify-content: right;
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.switcher-label {
  display: flex;
  align-items: center;
}

.switcher-label p {
  margin-right: 0.5em;
}

button.btn.version-switcher__button {
  margin-bottom: unset !important;
}
